.contactmain {
  display: flex;
  justify-content: center;
  gap: 100px;
  text-align: center;
  margin-top: 300px;
  color: black;
}

.contacttittle {
  font-weight: 600;
  line-height: 7px;
  font-size: 20px;
}

.contacttext {
  line-height: 10px;
  font-size: 15px;
}

.contactbutton {
  background-color: white;
  color: black;
  border-radius: 0%;
  border: 1px solid black;
  width: 300px;
  height: 35px;
}

.contactbutton:hover {
  color: white;
  background-color: black;
}

.tt {
  margin-bottom: 90px;
}
